@import "../../styles/sass/variables";

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: grey 1px solid;
    border-radius: $borderRadius;
    background: #16bcd6;
    color: $textColor;
}

.btn__active {
    background: transparent;
}
