@import '../../../common/styles/sass/variables';


.task {
  height: 50px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  &:hover {
    background: #f1efef;
  }
}

.disabled__task{
  pointer-events: none;
  opacity: 0.4;
}

.isDone {
  opacity: 0.7;
}
